$colour-graddown: #9356DC;
$colour-gradup: #FF79DA;
$colour-check: #99E2D0;
$colour-primary: black;
$colour-secondary:white;
$colour-foot: #353535;
$colour-mid: #F6F6F6;
$colour-dark: #EAEAEA;
$colour-darkgrey: #737373;
$content-padding: 30px;
$animation-delay: 300ms;
$glissement-duration: 1000ms;