header {
    background: $colour-secondary;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    @include shadow;
    z-index: 2;
    position: relative;
}
.__logo{
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 0.9em;
}
.left-arrow{
    position: absolute;
    left: 20px;
    font-size: 1.5em;
    color: $colour-foot;
    text-decoration: none;
    margin-left: auto;
}