.menu{
    display: flex;
    flex-direction: column;
    padding: 30px 15px 80px 15px;
    background-color: $colour-dark;
    border-radius: 50px;
    flex:1;
    margin-bottom: -50px;
    @media screen and (min-width: 769px) {
        padding: 30px 30px 80px 30px;
    }
    &__nomRestaurant{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        margin-bottom: 30px;
        margin-left: 5px;
    }
    &__partieContainer{
        flex-direction: column;
        display: flex;
        margin : 10px;
    }
    &__parts{
        display: flex;
        flex-direction: column;
        align-self: center;
        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__partieTxt{
        font-weight: 600;
        opacity: 0.6;
        margin-bottom: 3px;
        font-size: 0.9em;
        text-transform:uppercase;
    }
    &__HR{
        width: 3.5em;
        border: none;
        height: 4px;
        background: $colour-check;
        margin-bottom: 20px;
    }
    &__items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex:1;
    }
    &__commander{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.menu-item{
    display: flex;
    flex: 1;
    border-radius: 20px;
    background-color: $colour-secondary;
    @include shadow;
    overflow: hidden;
    -webkit-clip-path: content-box;
    clip-path: content-box;
    margin-bottom: 20px;
    animation: fonctionnementCardAnim 1000ms $animation-delay;
    animation-fill-mode: backwards;
    @for $i from 1 through 4{
        &--#{$i}{
            animation-delay: $animation-delay * $i;
            opacity:1;
        }
    }
    &__description{
        transition: all $glissement-duration;
        //background-color: $colour-mid;
        padding:12px;
        @media screen and (min-width: 769px) {
            width: 240px;
        }
        @media screen and (max-width: 768px) {
            width: 240px;
        }
        @media screen and (max-width: 321px) {
            width: 190px;
        }
        @media screen and (max-width: 281px) {
            width: 160px;
        }
    }
    &__description p{
        transition: all $glissement-duration;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
        padding: 3px;
        @media screen and (min-width: 769px) {
            width: 300px;
        }
        @media screen and (max-width: 768px) {
            width: 260px;
        }
        @media screen and (max-width: 321px) {
            width: 230px;
        }
        @media screen and (max-width: 281px) {
            width: 190px;
        }
    }
    &:hover{
        cursor: pointer;
        .menu-item__check{transform: translateX(0px);}
        .menu-item__price{transform: translateX(0px);}
        .menu-item__check--circle{transform: rotate(360deg);}
        .menu-item__description>p{
            @media screen and (min-width: 769px) {
                width: 230px;
            }
            @media screen and (max-width: 768px) {
                width: 230px;
            }
            @media screen and (max-width: 321px) {
                width: 180px;
            }
            @media screen and (max-width: 281px) {
                width: 140px;
            }
        }
    }
    
    &__price{
        display: flex;
        justify-content: center;
        margin-top:auto;
        width: 50px;
        margin-bottom: 15px;
        transition: all $glissement-duration;
        background-color: $colour-secondary;
        transform: translateX(100%);
    }
    &__check{
        width: 50px;
        transition: all $glissement-duration;
        background-color: $colour-check;
        display: flex;
        transform: translateX(100%);
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        color: $colour-secondary;
        animation: glissement $glissement-duration ease-in-out alternate both paused;
        &--circle{
            transition: all $glissement-duration;
            transform: rotate(0deg);
        }
    }
    
}


.restaurantCard__heartE, .restaurantCard__heartF{
    position: absolute;
    right: 10px;
    border-radius: 5px;
        &>p{
            font-size: 2em;
            .restaurantCard__heart--iconF::before{
                background: -webkit-gradient(linear, left top, left bottom, from($colour-graddown), to($colour-gradup));
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity:0;
                transition: opacity 300ms;
            }
        &:hover{
            cursor: pointer;
            .restaurantCard__heart--iconF::before{
                opacity: 1;
            }
        }
    }
}





