$loaderAnimDuration : 3000ms;

.loader{
    display : flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 1000;
    animation: loader $loaderAnimDuration alternate both;
    &__logo{
        align-self: center;
        animation: logoProgress $loaderAnimDuration alternate both;
    }
    &__barProgress{
        /*width: 100%;
        background: linear-gradient($colour-gradup, $colour-graddown);
        transform-origin: left;
        animation: barProgress $loaderAnimDuration alternate both;
        border-radius: 30px;*/
        //transform-origin: center;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #FF79DA;
        font-size: 5em;
        animation: barProgress 1s linear infinite ;
        
    }
}

.container{
    animation: containerVisibility $loaderAnimDuration alternate both;
}

@keyframes barProgress{
    0% {
        transform: scale(1) rotate(0deg);
      }
      50%{
        transform: scale(0.5) rotate(180deg);
        color: #9356DC;
      }
      100% {
        transform: scale(1) rotate(360deg);
        color: #FF79DA;

      }
}

@keyframes logoProgress{
    0%{
        transform: scaleX(0);
        opacity: 0;
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}

@keyframes loader {
    0% {
        visibility :  visible;
    }
    100% {
        visibility : hidden;
    }
}


@keyframes containerVisibility{
    0% {
        visibility : hidden;
    }
    100% {
        visibility : visible;
    }
}